ul.choose-settings
  li.safe Settings
  li.sidebar-item
    a(href="#settings-username") Claim username
  li.sidebar-item
    a(href='#settings-email') Change e-mail
  li.sidebar-item
    a(href='#settings-password') Change password
  li.sidebar-item
    a(href='#settings-delete') Delete account
  li.safe Version 1.1.1, updated 
    span.moment October 5, 2012
span.hover-er