// Directory CSS

.directory-main {
  padding: 10px 20px 10px 20px;
}

.directory-item {
  position: relative;
  float: left;
  width: 30%; max-width: 350px;
  margin: 0px 3.33% 40px 0;
  border: 1px solid transparentize($red, 1);
  @include background($orange-to-red-trans);
  @include transition(all, 0.5s);
  &:hover {
    border: 1px solid $red;
  }
}

.directory-feed-title {
  // font-family: 'Cambo';
  font-size: 22px;
  line-height: 34px;
  color: $copy;
  padding: 26px 20px 0 20px;
}

.directory-feed-description {
  font-family: 'Lato';
  // font-size: 14px;
  // line-height: 22px;
  color: $copy;
  padding: 10px 20px 0 20px;
}

.directory-feed-details {
  overflow: auto;
  width: 100%;
  margin: 26px 0 0 0;
  padding: 0 20px 0 20px;
}

.directory-feed-details-left,
.directory-feed-details-right {
  float: left;
  width: 50%;
  span:first-of-type {
    display: block;
    font-weight: 700;
    color: $copy;
  }
  span:last-of-type {
    font-size: 14px;
  }
  font-family: 'Lato';
  font-size: 14px;
  line-height: 22px;
  color: $copy;
}

.directory-feed-details-left {
  padding: 0 20px 0 0;
  border-right: 1px solid $red;
}

.directory-feed-details-right {
  padding: 0 0 0 20px;
}

.directory-feed-subscribe {
  display: block;
  margin: 26px auto 0 auto;
  padding: 16px 0 16px 0;
  color: $copy;
  font-size: 18px;
  text-align: center;
  border-top: 1px solid transparentize($red, 1);
  @include transition(all, 0.3s);
  &:hover {
    color: $base;
    @include background($red);
  }
}

.directory-item:hover > .directory-feed-subscribe {
  border-top: 1px solid $red;
}