extends layout/layout

block head
  - if (individual == true)
    title Hark | Directory | #{result.title}
  - else if (category != 'all')
    title Hark | Directory | #{category}
  - else
    title Hark | Directory
  include layout/head

block body
  - if (user === false)
    include layout/header-log-out
  - else
    include layout/header

  section.hark-container
    include directory/directory-structure

  footer
    include player/player
  section#modal
    include layout/modal