doctype 5
html(lang="en")
	head
		title Hark | The Directory
		
		!=partial('layout/head')
	
	body

		- if (user == false)
			!=partial('layout/header-log-out')
		- else
			!=partial('layout/header')

		section.hark-container
			!=partial('directory/directory-structure')

		footer
			!=partial('layout/player')

		section#modal
			!=partial('layout/modal')

		!=partial('layout/loading')