doctype 5
html(lang="en")
	head
		title Hark | The Directory
		
		!=partial('layout/head')
	
	body

		!=partial('layout/header')

		section.hark-container
			!=partial('directory/directory-structure')

		section.footer-v2
			!=partial('layout/player')

		section#modal
			!=partial('layout/modal')

		!=partial('layout/loading')