extends layout/layout

block head
  title Hark | Forgot your password?
  include layout/head

block body
  header.logo
    img(src="/img/hark-logo-v5.svg")
    span

  section.signup-intro
    h1 Recover a forgotten password.

  - if (typeof(flash) !== 'undefined')
    div.login-error.passport
      - if (typeof(flash.forgotError) !== 'undefined')
        p.error #{flash.forgotError}
      - if (typeof(flash.forgotSuccess) !== 'undefined')
        p.success #{flash.forgotSuccess}

  form.forgot(method='post', action='/login/forgot')
    input(type='text', name='email', placeholder='Enter your e-mail here.')
    button(type='submit')
      span Go