extends layout/layout

block head
  title Hark | Help / FAQ
  include layout/head

block body
  include layout/header

  include help/help-structure

  footer
    include player/player
  section#modal
    include layout/modal