doctype 5
html(lang="en")
	head
		title Hark | Help / FAQ

		!=partial('layout/head')

	body

		!=partial('layout/header')

		!=partial('help/help-structure')

		footer
			!=partial('layout/player')

		section#modal
			!=partial('layout/modal')

		!=partial('layout/loading')