extends layout/layout

block head
  title Hark | Listen
  include layout/head

block body
  include layout/header

  include listen/listen-structure

  footer
    include player/player
  section#modal
    include layout/modal