doctype 5
html(lang="en")
	head
		title Hark | Your podcasts

		!=partial('layout/head')

	body

		!=partial('layout/header')

		!=partial('listen/listen-structure')

		section.footer-v2
			!=partial('layout/player')

		section#modal
			!=partial('layout/modal')