extends layout/layout

block head
  title Hark | Log in.
  include layout/head

block body
  header.logo
    img(src="/img/hark-logo-v5.svg")
    span

  section.signup-intro
    h1 Log in to Hark.
  
  - if (typeof(message) !== 'undefined')
    div.row.login-error.passport
      p.error #{message}

  form.login(method='post', action='/login')
    input.multi(type='text', name='email', placeholder='Enter your e-mail.')
    input.multi(type='password', name='password', placeholder='Enter your password.')
    button.login-submit(type='submit')
      span Go

  div.login-forgot
    a(href='/forgot') Forgot your password?
    a(href='/signup') Need an account?