doctype 5
html(lang="en")
	head
		title Hark | Reset password.
		
		!=partial('layout/head')

	body

		div.container

			div.row
				div.column-8.offset-2
					h1 Hark &mdash; Password Reset
				div.column-8.offset-2
			h2 Enter a new password here.
				form.create(method='post', action='/login/reset/new')
					input.create-password(type='password', name='password', placeholder='Enter your password here.')
					input.create-password(type='password', name='password-validate', placeholder='Enter your password again.')
					input(type='hidden', name='resetToken', value='' + token)
					input.create-submit(type='submit', value='Create')