extends layout/layout

block head
  title Hark | Reset your password.
  include layout/head

block body
  header.logo
    img(src="/img/hark-logo-v5.svg")
    span

  section.signup-intro
    h1 Reset your Hark password.

  - if (typeof(flash) !== 'undefined')
    div.login-error.passport
      - if (typeof(flash.forgotError) !== 'undefined')
        p.error #{flash.forgotError}
      - if (typeof(flash.forgotSuccess) !== 'undefined')
        p.success #{flash.forgotSuccess}

  form.reset(method='post', action='/reset/new')
    input.multi(type='text', name='email', placeholder='Enter your e-mail.')
    input.multi(type='password', name='password', placeholder='Enter your password here.')
    input(type='hidden', name='resetToken', value='' + token)
    button(type='submit')
      span Go