doctype 5
html(lang="en")
	head
		title Hark | Reset your password.

		!=partial('layout/head')

	body

		header.login-page
			div.container
				div.row
					div.hark-listen
						a(href='/')
							img(src='/img/hark-logo-small.png')
						div.pulse
						&nbsp;
					nav.column-10.offset-2
						ul
							<li><a class='hark-signup' href="/signup">Sign up</a></li>
							<li><a href="/">Login</a></li>
							<li><a href="http://harkhq.com/">HarkHQ</a></li>
							<li><a href="http://harkhq.com/about/">About</a></li>
							<li><a href="http://harkhq.com/blog/">Blog</a></li>
							<li><a href="http://harkhq.com/legal/">Legalese</a></li>
		canvas#wave(width='1000', height='40')

		div.container
			div.row
				section.column-12.signup-intro
					h1 Hark is your personal radio station.
					h2 Reset your password here.

			- if (typeof(flash) !== 'undefined')
				div.row.forgot-error
					div.column-12
						- if (typeof(flash.forgotError) !== 'undefined')
							p.error #{flash.forgotError}
						- if (typeof(flash.forgotSuccess) !== 'undefined')
							p.success #{flash.forgotSuccess}
						
	

			div.row
				form.column-12(method='post', action='/reset/new')
					input.column-4.offset-1.reset-email(type='text', name='email', placeholder='Enter your e-mail.')
					input.column-4.offset-2.reset-password(type='password', name='password', placeholder='Enter your password here.')
					input(type='hidden', name='resetToken', value='' + token)
					input.column-4.offset-4.reset-submit(type='submit', value='Reset your password.')