doctype 5
html(lang="en")
	head
		title Hark | Your settings

		!=partial('layout/head')

	body

		!=partial('layout/header')

		!=partial('settings/settings-structure')

		section.footer-v2
			!=partial('layout/player')

		section#modal
			!=partial('layout/modal')

		!=partial('layout/loading')