extends layout/layout

block head
  title Hark | Settings
  include layout/head

block body
  include layout/header
  include settings/settings-structure
  footer
    include player/player
  section#modal
    include layout/modal