extends layout/layout

block head
  title Hark | Sign up.
  include layout/head

block body
  header.logo
    img(src="/img/hark-logo-v5.svg")
    span

  section.signup-intro
    h1 Create a Hark account.

  - if (typeof(message) !== 'undefined')
    div.login-error.passport
      p.error #{message}

  form.create(method='post', action='/users/new')
    input.multi(type='text', name='email', placeholder="Enter your e-mail.")
    input.multi(type='password', name='password', placeholder="Enter your password.")
    button.create-submit(type='submit')
      span Go

  div.existing-account
    a(href='/login') Already have an account?