footer {
  position: fixed; left: 0px; bottom: 0px;
  width: 100%; height: 90px;
  @include background($bg);
  border-top: 1px solid transparentize($orange, 0.8);
  z-index: 1000;
}

.mejs-container {}

.podcast-player,
.video-podcast-player {
  position: absolute; top: 0px; left: 0px;
  width: 100%;
  margin: 0;
  div { margin-bottom: 0px; }
}

.video-podcast-player {
  top: 90px;
}

.video-player {
  display: none;
  position: fixed; top: 40%; left: 220px;
  // margin-left: -260px;
  padding: 4px 4px 34px 4px;
  border-radius: 8px;
  @include background($copy);
  z-index: 1000;
}

.video-menu a {
  @include inline-block;
}

.video-move {
  position:absolute; left: 8px;
}

.video-minimize {
  position:absolute; left: 28px;
}

.video-resize {
  position: absolute; right: 8px;
}

#jquery_jplayer_2 {
  padding-top: 30px;
}

#jquery_jplayer_2, #jp_video_1 {
  max-width: 100%;
}

// .jp-video-play {
//   display: block;
//   width: 400px; height: 300px;
// }

.jp-controls li { @include inline-block; }

.jp-interface { 
  position: relative;
  margin: 0px;
}

.jp-play,
.jp-pause {
  position: absolute; top: 8px; left: 20px;
  padding: 20px 4px 10px 8px;
  border: 5px solid $base;
  border-radius: 40px;
  @include background($red);
  i {
    color: $base;
    font-size: 42px;
    @include transition(all, 0.5s);
  }
  &:hover {
    cursor: pointer;
    @include background(darken($red, 10%));
    i {
      text-shadow: 0 0 20px $base;
    }
  }
  &:focus {
    outline: none;
    @include background(darken($red, 10%));
    i {
      text-shadow: 0 0 20px $base;
    }
  }
}

i.icon-pause { padding-right: 3px; }

.jp-progress-control {
  position: absolute;
  top: 35px; left: 115px; right: 340px;
}

.jp-volume-control {
  position: absolute; top: 35px; right: 20px;
  width: 160px;
}

.jp-progress-bar,
.jp-volume-bar {
  position: relative;
  width: 100%; height: 17px;
  box-shadow: inset 0 2px 8px $orange,
              inset 0 0px 4px $orange,
              0 0 1px 1px $orange,
              0 0px 1px 1px lighten($orange, 5%),
              0 -2px 10px 2px lighten($orange, 15%),
              0 2px 6px 2px lighten($orange, 5%),
              0 2px 15px 2px darken($orange, 15%);
  border-radius: 8px;
  @include background(white);
}

.jp-seek-bar,
.jp-volume-bar-value {
  position: absolute; top: 4px; left: 0px;
  height: 11px;
  border-radius: 8px;
  @include background(lighten($red, 30%));
}

.jp-play-bar {
  position: absolute; top: 0px; left: 1px;
  height: 11px;
  border-radius: 8px;
  @include background(lighten($red, 35%));
}

.jp-play-tracker,
.jp-volume-tracker {
  display: block;
  float: right;
  width: 22px; height: 22px;
  margin: -6px -14px 0 0;
  box-shadow: 0px 1px 4px 1px $red;
  border-radius: 12px;
  @include background(radial-gradient(11px 24px, circle, $red 6px, lighten($orange, 100%) 25px));
  z-index:10;
}

.jp-current-time, .jp-duration {
  @include bodyFont;
  margin-bottom: 0px;
  color: $copy;
  position: absolute; top: 25px;
}

.jp-duration {
  right: 0px;
}

.manual-sync,
.jp-volume-container {
  padding: 6px 8px 2px 8px;
  @include background($red);
  border: 5px solid $base;
  border-radius: 40px;
  @include transition(all, 0.5s);
  i {
    color: $base;
    font-size: 24px;
    @include transition(all, 0.5s);
    &:focus { outline: none; }
  }
  &:hover {
    cursor: pointer;
    @include background(darken($red, 10%));
    i {
      text-shadow: 0 0 20px $base;
    }
  }
  &:focus {
    outline: none;
    @include background(darken($red, 10%));
    i {
      text-shadow: 0 0 20px $base;
    }
  }
}

.manual-sync {
  position: absolute; top: -14px; right: -60px;
  &:hover > .manual-sync-popup { opacity: 100; top: -40px; z-index: 10; }
}

.manual-sync-popup {
  opacity: 0;
  z-index: -1;
  width: 140px;
  position: absolute; top: -8px; right: -50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: $base;
  padding: 2px 6px 2px 6px;
  @include background($red);
  @include border-radius(4px);
  @include transition(all, 0.5s);
}

.jp-volume-container {
  position: absolute; top: -14px; left: -65px;
  // width: 38px;
  text-align: center;
  a {
    border: 0px;
    &:hover { border: 0px; }
    &:active { outline: 0px; }
    i.icon-volume-off { margin-left: -11px; }
  }
}