/*  -----------------------------------------
  -----------------------------------------
  
  Media queries.
  
  -----------------------------------------
-----------------------------------------  */

@media only screen and (max-width: 1060px) {

  nav ul li {
    margin: 16px 80px 0 0;
  }

}

@media only screen and (max-width: 900px) {

  nav ul li {
    margin: 16px 40px 0 0;
  }

}

@media only screen and (max-width: 768px) {

  /* -----------------------------------------
    Header.
  ----------------------------------------- */
  header { height: auto; }

  .hark-logo a { float: none; }

  .hark-logo a img { margin: 10px auto 20px auto; }

  .mobile-header-menu {
    display: block;
    position: absolute; top: 18px; right: 50%; 
    width: 40px; height: 40px;
    margin-right: -160px;
    @include background($red);
  }

  nav ul {
    text-align: center;
    margin: 0px;
    li {
      width: 100%;
      margin: 16px 0 0 0;
      &:first-of-type {
        margin: 0px;
      }
      &:last-of-type {
        margin: 16px 0 16px 0;
      }
      a {
        display: block;
        width: 100%;
      }
    }
  }
}
