/* COLORS */
$red                : rgba(226, 132, 109, 1);
$blue               : rgba(59, 129, 131, 1);
$copy               : rgba(42, 8, 61, 1);
$white              : rgba(242, 242, 242, 1);
$bg                 : rgba(248, 249, 250, 1);

$link-color:          $red;
$link-hover-color:    $blue;
$link-focus-color:    false;
$link-active-color:   false;
$link-visited-color:  false;
$link-trans-color:    transparentize($link-color, 0.8);

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "typography";
@import "standards";
@import "susy";
@import "font-awesome";
@import "directory";

/*  -----------------------------------------
  -----------------------------------------
  
  Layout.
  
  -----------------------------------------
-----------------------------------------  */

/* -----------------------------------------
  Body.
----------------------------------------- */
html, body {
  height: 100%;
  width: 100%;
  @include background($bg);
}

* { 
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

::selection,
::-moz-selection {
  background: $red;
  color: $white;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border: 1px solid transparentize($blue, 0.5);
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid transparentize($red, 0.1);
}

/* -----------------------------------------
  Home
----------------------------------------- */
@import "home";

/* -----------------------------------------
  Signup/login.
----------------------------------------- */
header.logo {
  border-radius: 50%;
  display: block;
  height: 200px;
  @include background($red);
  background-size: 110px 110px;
  margin: 100px auto 40px auto;
  position: relative;
  width: 200px;
}

header.logo img {
  left: 60px;
  position: relative;
  top: 40px;
  width: 80px;
}

header.logo span {
  display: block;
  height: 180px;
  width: 10px;
  margin: 0 0 0 0;
  position: absolute;
  left: 95px; top: 10px;
  -webkit-animation: spinner 5s infinite;
  -moz-animation:    spinner 5s infinite;
  -ms-animation:     spinner 5s infinite;
  -webkit-animation-timing-function:  linear;
  -moz-animation-timing-function:   linear;
  -ms-animation-timing-function:    linear;
}

header.logo span:after {
  background-color: $bg;
  border-radius: 50%;
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  width: 10px;
  -webkit-animation: pulse 5s infinite;
  -moz-animation:    pulse 5s infinite;
  -ms-animation:     pulse 5s infinite;
  -webkit-animation-timing-function:  linear;
  -moz-animation-timing-function:   linear;
  -ms-animation-timing-function:    linear;
}

.signup-intro {
  text-align: center;
}

form.login,
form.create,
form.forgot,
form.reset {
  width: 500px;
  margin: 0 auto;
  input {
    width: 433px;
  }
}

form.reset {
  input.multi {
    &:nth-of-type(2) {
      border-radius: 2px 0 0 2px;
      @include inline-block;
    }
  }
}

.login-forgot, .existing-account {
  text-align: center;
  a { margin-left: 20px; }
}

.login-error, .create-error, .forgot-error {
  margin: 20px 0 20px 0;
  text-align: center;
  p {
    color: $red;
    font-size: 22px;
    font-weight: bold;
  }
}

.create-success {
  margin: 20px 0 20px 0;
  text-align: center;
  p {
    color: $blue;
    font-size: 22px;
    font-weight: bold;
  }
}

.login-service {
  display: block;
  position: relative;
  margin: 0 auto 20px auto;
  padding: 14px 20px 14px 20px;
  text-align: center;
  width: 300px;
}

.facebook i, .twitter i, .google i {
  position: absolute; top: 12px; left: 20px;
  font-size: 30px;
}

/* -----------------------------------------
  Header.
----------------------------------------- */
header {
  width: 100%; height: 80px;
  padding: 0px;
  border-bottom: 1px solid transparentize($red, 0.8);
  overflow: hidden;
}

.logo-mini {
  border-radius: 50%;
  display: block;
  float: left;
  height: 70px;
  @include background($red);
  background-size: 110px 110px;
  margin: 5px 0 0 20px;
  position: relative;
  width: 70px;
}

.logo-mini img {
  left: 18px;
  position: relative;
  top: 12px;
  width: 32px;
}

.logo-mini span {
  display: block;
  height: 64px;
  width: 10px;
  margin: 0 0 0 0;
  position: absolute;
  left: 30px;
  top: 3px;
  -webkit-animation: spinner 5s infinite;
  -moz-animation:    spinner 5s infinite;
  -ms-animation:     spinner 5s infinite;
  -webkit-animation-timing-function:  linear;
  -moz-animation-timing-function:   linear;
  -ms-animation-timing-function:    linear;
}

.logo-mini span:after {
  background-color: $bg;
  border-radius: 50%;
  content: '';
  display: block;
  height: 5px;
  position: absolute;
  width: 5px;
  -webkit-animation: pulse 5s infinite;
  -moz-animation:    pulse 5s infinite;
  -ms-animation:     pulse 5s infinite;
  -webkit-animation-timing-function:  linear;
  -moz-animation-timing-function:   linear;
  -ms-animation-timing-function:    linear;
}

nav ul {
  width: 100%;
  margin: 0 0 0 240px;
  li {
    @include inline-block;
    font-family: 'Lato';
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    margin: 30px 120px 0 0;
    a {
      display: block;
      width: 100%;
    }
  }
}

/* -----------------------------------------
  jPlayer.
----------------------------------------- */
@import "jplayer";

/* -----------------------------------------
  Currently playing.
----------------------------------------- */
.currently-playing {
  display: block;
  position: relative;
  margin: 0px;
}

.currently-playing li {
  position: relative;
  color: $copy;
  font-family: 'Lato';
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  margin: 0px;
  border-radius: 20px;
  @include transition(all, 0.3s);
  z-index: 2;
  a {
    display: block;
    width: 100%;
    color: $red;
    text-decoration: none;
    padding: 10px 20px 12px 20px;
    @include transition(all, 0.3s);
    border: 0px;
    z-index: 2;
  }
  &:hover {
    a {
      color: $blue;
    }
  }
}

.currently-playing li.heading {
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
  padding: 16px 20px 14px 20px;
  border: 0;
}

.currently-playing li p.safe {
  color: $copy;
  font-family: 'Lato';
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 20px 12px 20px;
}

/* -----------------------------------------
  Sidebar
----------------------------------------- */
.sidebar {
  float: left;
  width: 220px;
  border-right: 1px solid transparentize($red, 0.8);
  overflow-y: hidden;
  overflow-x: hidden;
}

.sidebar:hover {
  overflow-y: auto;
}

.subscriptions,
.categories,
.questions {
  display: block;
  position: relative;
}

.sidebar-item,
.category {
  position: relative;
  margin: 0px;
  border-radius: 20px;
  @include transition(all, 0.3s);
  z-index: 2;
  a {
    display: block;
    width: 100%;
    font-family: 'Lato';
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    color: $red;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
    padding: 12px 40px 12px 20px;
    @include transition(all, 0.3s);
    border: 0px;
    z-index: 2;
  }
  &:hover {
    a {
      color: $blue;
    }
  }
}

.sidebar-item-big {
  position: relative;
  color: $copy;
  margin: 0px;
  border-radius: 20px;
  @include transition(all, 0.3s);
  z-index: 2;
  a {
    display: block;
    width: 100%;
    color: $copy;
    font-family: 'Lato';
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-decoration: none;
    margin: 0px;
    padding: 12px 20px 12px 20px;
    border: 0px;
    z-index: 2;
    &:hover {
      color: $white;
      @include background($red);
    }
  }
}

.safe {
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
  padding: 16px 20px 14px 20px;
}

.questions .sidebar-item a {
  overflow: auto;
  white-space: normal;
}

.sidebar-expander {
  position: absolute; right: 10px; top: 20px;
  margin: -12px 0 0 0;
  opacity: 0;
  @include transition(all, 0.3s);
  i {
    color: $red;
    font-size: 24px;
  }
  :hover {
    cursor: pointer;
  }
}

.sidebar-item:hover > .sidebar-expander { opacity: 100; }

.sidebar-actions {
  display: none;
  margin-bottom: 0px;
  li {
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 0px;
    padding: 0 0 0 10px;
    a {
      padding: 8px 40px 8px 20px;
    }
  }
}

.add-feed {
  display: none;
  width: 100%;
  font-family: $baseFontFamily;
  color: $base;
  padding: 6px 12px 6px 12px;
  margin: 0px;
  border: 0px;
  @include transition(all, 0.5s);
  @include background($red);
  &:hover {
    @include background($red);
    // @include box-shadow($base 0px 0px 10px);
  }
  &:focus {
    outline: 0;
    @include background($red);
    // @include box-shadow($base 0px 0px 20px);
  }
}

.edit-feed-input {
  float: left;
  display: none;
  margin: 0px;
  font-family: $baseFontFamily;
  border: 1px solid $base;
  @include transition(all, 0.5s, ease-in-out);
  &:hover {
    @include box-shadow($linkColor 0px 0px 10px);
  }
  &:focus {
    outline: 0;
    @include box-shadow($linkColor 0px 0px 20px);
  }
}

.allFeeds, .allFeeds:visited {
  color: $errorColor !important;
}

.feedActions {
  width: 46px; height: 30px;
  background-color: transparent;
  position: absolute; right: 15px;
  margin: 0;
}

.removeFeed, .editFeed, .removeFeed:visited, .editFeed:visited {
  width: 24px; height: 24px;
  @include inline-block;
  @include border-radius(12px);
  font-size: 16px;
  line-height: 16px;
  color: $base;
  background-color: $linkColor;
  border: 3px solid $red;
  opacity: 0;
  margin: -2px 5px 0 0;
  &:hover {
    border: 3px solid $errorColor;  
    background-color: $base;
    color: $copy;
  }
  i { margin: 1px 0 0 -1px; }
}

/* -----------------------------------------
  Action buttons.
----------------------------------------- */
.actions {
  position: fixed; left: 220px;  right: 14px;
  padding: 10px 20px 10px 20px;
  border-bottom: 1px solid transparentize($red, 0.8);
  @include background($bg);
  z-index: 900;
  ul li.action {
    @include inline-block;
    color: $base;
    font-size: 14px;
    line-height: 14px;
    margin: 10px 20px 0 0;
    @include transition(all, 0.5s);
  }
  ul li.action.active {
    &:hover {
      cursor: pointer;
    }
  }
  ul li.action.inactive {
    color: $copy;
    background-color: rgba(33, 33, 33, 0.05);
  }
  ul li.safe {
    @include inline-block;
    font-size: 14px;
    line-height: 14px;
    padding: 18px 20px 10px 0px;
  }
}

.act-sorting {
  position: relative;
  @include background($red);
  &:hover {
    cursor: pointer;
  }
  i {
    height: 14px;
    padding: 0 0 0 10px;
  }
  ul {
    display: none; top: 40px; left: 0px;
    position: absolute;
    width: 160px;
    padding: 10px;
    border-radius: 2px;
    @include background($blue);
    @include transition(all, 0.5s);
    a {
      font-family: 'Lato';
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      color: $base;
      a:hover {
        color: darken($base, 10%);
      }
    }
  }
}

/* -----------------------------------------
  Podcast list.
----------------------------------------- */
.primary {
  position: relative;
  overflow-y: scroll;
}

.podcastList {
  float: left;
  width: 75%;
  margin: 100px 0 0 0;
  padding: 20px 20px 20px 0;
}

.podcast-item {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 20px 10px 20px 20px;
  > div {
    @include inline-block;
  }
}

.selected {
  @include background(rgba(237, 239, 241,1));
}

.podcast-title {
  max-height: 70px;
  margin-top: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  a {
    font-size: 24px;
    line-height: 34px;
    color: $copy;
    &:hover {
      color: $red;
    }
  }
}

.podcast-feed {
  margin-bottom: 0px;
}

div.podcastDescription {
  display: none;
  width: 100%;
  p {
    margin-top: 12px;
    margin-bottom: 0px;
    padding-bottom: 12px;
  }
}

.description-warning {
  color: $red;
  font-size: 14px; 
}

.false {
  font-weight: 700;
}

.listen-sidebar {
  float: left;
  width: 25%;
  background-color: black;
}

.podcast-meta {
  position: relative;
  float: left;
  width: 75%;
  margin: 100px 0 0 0;
  padding: 20px 20px 20px 20px;
  h1 { margin-right: 140px; }
}

.podcast-meta-description {
  margin-right: 140px;
}

.podcast-meta-actions {
  position: absolute; top: 20px; right: 20px;
}

.list-single {
  margin: 0 0 0 0;
}

/**************************************
*
* PLAYLIST
*
**************************************/

.playlist {
  position: relative;
  float: left;
  width: 25%;
  margin: 100px 0 0 0;
  padding: 35px 20px 0 0; 
  overflow: hidden;
}

.playlist h1 {
  font-size: 22px;
}

.playlist-clear {
  position: absolute; top: 35px; right: 20px;
  padding: 1px 9px 2px 9px;
  color: $white;
  background: $red;
  border-radius: 2px;
  &:hover {
    color: $white;
    background: $blue;
  }
}

.playlist-item {
  position: relative;
  border-bottom: 1px solid transparentize($red, 0.8);
  padding: 0 26px 12px 0;
  &:last-of-type { 
    border-bottom: 0px;
  }
}

.playlist-item p {
  display: inline;
  vertical-align: top;
  &:nth-of-type(2) {
    font-size: 13px;
    padding: 0 0 0 10px;
  }
}

.playlist-drop {
  position: absolute; top: 0px; right: 0px;
  padding: 0px 7px 1px 7px;
  color: $white;
  background: $red;
  border-radius: 2px;
  &:hover {
    color: $white;
    background: $blue;
  }
}

/* -----------------------------------------
  Settings.
----------------------------------------- */
@import "settings";

/*******************************************
*
* FAQ/Help
*
*******************************************/
.answers {
  h2 {
    margin-top: 60px;
  }
  h3 {
    margin-top: 30px;
  }
}

/*******************************************
*
* 404 error
*
*******************************************/
a.logo-spin {  
  display: block;
  width: 200px;
  margin: 80px auto 80px auto;
  -webkit-animation: spinner 5s infinite;
  -moz-animation:    spinner 5s infinite;
  -ms-animation:     spinner 5s infinite;
  -webkit-animation-timing-function:  linear;
  -moz-animation-timing-function:   linear;
  -ms-animation-timing-function:    linear;
  img { width: 200px; }
}

/*******************************************
*
* Other errors
*
*******************************************/
#modal {
  display: none;
  position: fixed; left: 0px; top: 0px;
  width: 100%; height: 100%; min-height: 100%;
  @include background(rgba(33, 33, 33, 0.6));
  z-index: 1000;
}

.modal-box {
  position: relative;
  width: 600px; height: auto;
  margin: 20% auto 0 auto;
  @include background($bg);
}

.modal-text {
  padding: 40px;
}

.modal-close {
  position: absolute; top: -6px; right: -6px;
  width: 36px; height: 36px;
  font-size: 14px;
  line-height: 14px;
  color: $copy;
  background-color: $white;
  @include border-radius(18px);
  border: 5px solid $red;
  margin: 0px 0 0 20px;
  padding: 4px 0 0 9px;
  @include transition(all, 0.5s);
  &:hover {
    border: 5px solid $red;
    color: $red;
    cursor: pointer;
  }
}

/*******************************************
*
* Loading
*
*******************************************/

#loading {
  display: none;
  position: fixed; left: 0px; top: 80px; bottom: 91px; right: 0px;
  @include background($bg);
  z-index: 2000;
}

.loading-box {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.loading-spin {
  width: 200px;
  margin: 100px auto 60px auto;
  -webkit-animation: spinner 5s infinite;
  -moz-animation:    spinner 5s infinite;
  -ms-animation:     spinner 5s infinite;
  -webkit-animation-timing-function:  linear;
  -moz-animation-timing-function:   linear;
  -ms-animation-timing-function:    linear;
}

/* -----------------------------------------
  Media queries for main view.
----------------------------------------- */
@import "media-queries";


@-webkit-keyframes spinner {
  0% { @include rotate(0deg) }
  100% { @include rotate(360deg) }
}

@keyframes spinner {
  0% { @include rotate(0deg) }
  100% { @include rotate(360deg) }
}
