ul.categories
	li.safe Categories
	li.category
		a.loadAll(href="/directory/") Directory
	li.category
		a(href="/directory/category/hark-picks/") &ldquo;Hark Picks&rdquo;
	li.category
		a(href="/directory/category/arts/") Arts
	li.category
		a(href="/directory/category/business/") Business
		span.sidebar-expander
			i.icon-caret-down
		ul.subcategories
			li.subcategory
				a(href="/directory/category/startups/") Start-ups
	li.category
		a(href="/directory/category/comedy/") Comedy
	li.category
		a(href="/directory/category/culture/") Culture
		span.sidebar-expander
			i.icon-caret-down
		ul.subcategories
			li.subcategory
				a(href="/directory/category/literature/") Literature
	li.category
		a(href="/directory/category/design/") Design
		span.sidebar-expander
			i.icon-caret-down
		ul.subcategories
			li.subcategory
				a(href="/directory/category/web-design/") Web Design
	li.category
		a(href="/directory/category/education/") Education
		span.sidebar-expander
			i.icon-caret-down
		ul.subcategories
			li.subcategory
				a(href="/directory/category/history/") History
			li.subcategory
				a(href="/directory/category/language/") Language
	li.category
		a(href="/directory/category/finance/") Finance
	li.category
		a(href="/directory/category/gaming/") Gaming
	li.category
		a(href="/directory/category/music/") Music
	li.category
		a(href="/directory/category/news/") News
	li.category
		a(href="/directory/category/politics/") Politics
	li.category
		a(href="/directory/category/religion-spirituality/") Religion &amp; Spirituality
	li.category
		a(href="/directory/category/science/") Science
		span.sidebar-expander
			i.icon-caret-down
		ul.subcategories
			li.subcategory
				a(href="/directory/category/health/") Health
	li.category
		a(href="/directory/category/sports/") Sports
	li.category
		a(href="/directory/category/technology/") Technology
		span.sidebar-expander
			i.icon-caret-down
		ul.subcategories
			li.subcategory
				a(href="/directory/category/apple/") Apple
			li.subcategory
				a(href="/directory/category/gadgets/") Gadgets
			li.subcategory
				a(href="/directory/category/programming/") Programming
	li.category
		a(href="/directory/category/tv-film/") TV &amp; Film
	li.category
		a(href="/directory/category/video/") Video Podcasts