ul.questions
  li.safe Help
  li.sidebar-item
    a(href='#faq-feeds') I need help with my podcast subscriptions.
  li.sidebar-item
    a(href='#faq-directory') I need help with the Hark Directory.
  li.sidebar-item
    a(href='#faq-account') I need help with my Hark account.
  li.sidebar-item
    a(href='#more-help') What if I need more help?
span.hover-er