div.answers
  h2#faq-feeds-1 How do I add a podcast subscription?
  p Hark lets you subscribe to podcasts using Really Simple Syndication (RSS) feeds. Every good podcast producer will supply an up-to-date RSS feed for their content. When you find the RSS feed, you can copy its location (for example: http://my-favorite-podcast.com/rss) into the input box that appears when you click on the "Add" button in Hark's main interface.
  p Sometimes, they can be difficult to find. One way to find RSS feeds is to search the page (Control+F) for the keyword "RSS." Oftentimes, podcast producers will symbolize a link to an RSS feed with its <a href="http://upload.wikimedia.org/wikipedia/en/thumb/4/43/Feed-icon.svg/128px-Feed-icon.svg.png" alt="RSS logo">logo.</a>

  h2#faq-feeds-2 How do I remove a podcast subscription?
  p In the left navigation column on the <a href="/listen">main interface page</a>, there is a list of your current podcast subscriptions. In order to remove one of those from your list, and to not receive any more content as it becomes available, simply hover your mouse over the item and click on the trash can icon that appears. The feed, and all its individual podcast listings throughout Hark, will be deleted immediately.

  h2#faq-feeds-3 How do I update my podcasts?
  p Unfortunately, Hark does not currently allow for subscriptions to be updated automatically. In order to get all the newest content, simply click the "Update" button on the main interface.

  h2#faq-feeds-4 Can I change the name of a subscription?
  p Yes!

  h2#more-help What if I need more help?
  p You can either e-mail Hark at <a href="mailto:admin@harkhq.com">admin@harkhq.com</a> or get in touch on <a href="https://twitter.com/hark_hq">Twitter</a>. You can also get in touch with Hark&rsquo;s proprietor, Joel Hans, at <a href="mailto:hi@designbyjoel.com">hi@designbyjoel.com</a>.