ul.questions
  li.safe Help
  li.sidebar-item
    a(href='#faq-feeds-1') How do I add a podcast subscription?
  li.sidebar-item
    a(href='#faq-feeds-2') How do I remove a podcast subscription?
  li.sidebar-item
    a(href='#faq-feeds-3') How do I update my podcasts?
  li.sidebar-item
    a(href='#faq-feeds-4') Can I change the name of a subscription?
  li.sidebar-item
    a(href='#more-help') What if I need more help?
span.hover-er