//- footer
//- 	div#player

footer
	div.podcast-player
		div#jquery_jplayer_1.jp-player
		div#jp_container_1.jp-audio
			div#jp-type-single
				div.jp-gui.jp-interface
					ul.jp-controls
						li.jp-play-container
							a.jp-play(href='javascript:;', tabindex='1')
								i.icon-play
							a.jp-pause(href='javascript:;', tabindex='1')
								i.icon-pause
					div.jp-progress-control
						div.jp-progress-bar
							div.jp-seek-bar
								div.jp-play-bar
									span.jp-play-tracker
						div.jp-current-time
						div.jp-duration
						div.manual-sync
							i.icon-retweet
							span.manual-sync-popup Sync progress
					div.jp-volume-control
						div.jp-volume-bar
							div.jp-volume-bar-value
								span.jp-volume-tracker
						div.jp-volume-container
							a.jp-mute(href='javascript:;', tabindex='1')
								i.icon-volume-up
							a.jp-unmute(href='javascript:;', tabindex='1')
								i.icon-volume-up