link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800', rel='stylesheet')
link(rel='stylesheet', href='/style/screen.css')
link(rel='shortcut icon', type='image/x-icon', href='/img/favicon.ico')

script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script(type='text/javascript', src='/js/application.js')
