header
  header.logo-mini
    img(src="/img/hark-logo-v5.svg")
    span
  nav
    ul
      li
        a(href="/listen") Listen
      li
        a(href="/directory") Directory
      li
        a(href="/settings") Settings
      li
        a(href="/help") Help
      li
        a(href="/logout") Logout
  div.mobile-header-menu