header
  h1.hark-logo 
    a(href="/listen")
      img(src='/img/hark-logo.svg')
  nav
    ul
      li
        a(href="/") Log in
      li
        a(href="/signup") Sign up
      li
        a(href="/directory") Directory