header
	h1.hark-logo 
		a(href="/listen") Hark
			img(src='/img/hark-logo-v3-display.svg')
	nav
		ul
			li
				a(href="/listen") Home
			li
				a(href="/directory") Directory
			li
				a(href="/settings") Settings
			li
				a(href="/help") Help
			li
				a(href="/logout") Logout