header
  h1.hark-logo 
    a(href="/listen")
      img(src='/img/hark-logo.svg')
  nav
    ul
      li
        a(href="/listen") Listen
      li
        a(href="/directory") Directory
      li
        a(href="/settings") Settings
      li
        a(href="/help") Help
      li
        a(href="/logout") Logout
  div.mobile-header-menu