header
  header.logo-mini
    img(src="/img/hark-logo-v5.svg")
    span
  nav
    ul
      li
        a(href="/") Log in
      li
        a(href="/signup") Sign up
      li
        a(href="/directory") Directory
  div.mobile-header-menu