div.logo.left-column
	div.hark-listen
		a(href="/listen")
			img(src='/img/hark-logo-small.png')
		div.pulse
		&nbsp;
	div.header-settings
		<a href="/listen" class="go-home">Home</a>
		<a href="/settings" class="go-settings">Settings</a>
		<a href="/help" class="go-help">Help/FAQ</a>
		<a href="/logout" class="logout">Log out</a>