li.heading.safe Now playing
li.sidebar-item
	if (typeof(playing) !== 'undefined')
		a.current-feed(href='/listen/podcast/' + playing.feedUUID) #{playing.feedTitle}
	else
		a.current-feed.blank(href='/listen') Go play something!
li.sidebar-item
	if playing
		p.safe #{playing.podcastTitle}
	else
		a.current-item.blank(href='/directory') Need a new podcast?