section.hark-container
  aside.sidebar
    ul.currently-playing
      include ../player/currently-playing
    include listen-sidebar

  section.primary.clearfix
    include listen-main
    section.playlist
      include listen-playlist
