if feeds
	ul.subscriptions
		li.sidebar-item-big.act-add
			a(href='#') Add
		input(type='text', class='add-feed', placeholder='Copy an RSS feed here and hit <Enter>.')
		li.sidebar-item-big.act-update 
			a(href='#') Update
		li.sidebar-item.allFeeds
			a(href='/listen') All
		for feed in feeds
			li.sidebar-item
				a(href='/listen/podcast/' + feed.feeduuid, class='loadFeed') #{feed.feedTitle}
				span.sidebar-expander
					i.icon-cog
				div.sidebar-actions
					a(href='#', class='sidebar-action-edit') Edit
					a(href='/listen/remove/' + feed.feeduuid, class='sidebar-action-remove') Remove
					input(type='text', class='sidebar-action-edit-input', placeholder='Type the new feed name.')